<manifest package="de.diamonddev.silentmodetile"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:label="Silent Mode Tile">

        <service
            android:name=".SilentModeTile"
            android:label="Silent Mode Tile"
            android:icon="@android:drawable/ic_lock_silent_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.TILE_SERVICE"
                android:resource="@xml/tile_service" />

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />

            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

    </application>
</manifest>